*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pic{
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),url('img/Rectangle 18.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.learner{
    padding-top: 90px;
    padding-bottom: 50px;
}
.monday{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #00BCF5;
    }