*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardo{
    background-color: #002147;
    border-radius: 20px;
    margin-top: 100px;
}
.rect{
    position: absolute;
    bottom: 0;
    top: -50px;
    left: 700px;
}
.my{
    margin-top: 200px;
}
.torm{
    position: absolute;
    bottom: 31px;
    right: 12px;
}
.torms{
    position: absolute;
    bottom: 60px;
    right: 12px;
}